{
  email {$LETSENCRYPT_EMAIL}
  admin off
}
{$DOMAIN} {
  encode zstd gzip
  reverse_proxy web:80
  header {
    Strict-Transport-Security "max-age=31536000"
    -Server
  }
  log {
    output stdout
    format console
  }
}
{$WWW_DOMAIN} {
  redir https://{$DOMAIN}{uri} permanent
}
